body {
  font-family: "Inter", sans-serif;
  margin: 0;
    background-color: #0e1823;
    
}
button{
  font-family: inherit;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}

  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  p, 
  h1, 
  h2, 
  h3,
  h4,
  h5,
  h6{
  margin: 0;
  }
  a {
    text-decoration: none;
  }
  img{
    display: block;
    height: auto;
  }
.container{
    max-width: 1240px;
    padding: 0 15px;
    margin: 0 auto;
      display: flex;
  justify-content: center;
  align-items: center;
  }
.fon-page{
  position: absolute;
background-image: url(../images/yachtfone.jpg);
background-size: cover;
width: 100%;
height: 800px;
top: 0;
left: 0;
z-index: -1;
}

/* #region header */
.header-page {

    background-color: #fbfbfb;

  border: 1px solid #fbfbfb;
  border-radius: 8px;
  width: 1240px;
  margin: 0 auto;
  padding: 4px 30px;
}
.header-page .container{
  display: flex;
  align-items: center;
  
}

.header-nav {
  display: flex;
  gap: 375px;
  align-items: center;
}
.logo-header {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #1b414b;
}
.nav-list {
  display: flex;
  gap: 4px;
}
.nav-list-item {
}
.nav-list-link {
  background: rgba(27, 65, 75, 0.5);
  border-radius: 8px;
  padding: 15px 25px 15px 24px;
  display: block;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}


.nav-list-link:hover,
.nav-list-link:focus{
  background: #1b414b;
}

.header-social-list {
  display: flex;
  gap: 10px;
  margin-left: auto;
}
.social-list-item {
  width: 24px;
  height: 24px;
}
.social-link {
  fill: #1b414b;
}

.social-link:hover, 
.social-link:focus{
  fill: #062730;
}

/* #endregion header */
/* #region title */
.title{
  flex-direction: column;
  text-align: center;
  width: 1440px;
height: 784px; 
}
.title-page{
font-weight: 500;
font-size: 80px;
line-height: 1;
letter-spacing: -0.02em;
text-align: center;
color: #fbfbfb;
width: 1001px;
margin-top: 235px;
margin-left: 216px;
margin-right: 223px;
}

.title-page-text{
  padding-top: 24px;
  padding-bottom: 48px;
  margin-left: 418px;
  margin-right: 425px;
  width: 597px;
  font-weight: 300;
font-size: 16px;
line-height: 1.4;
text-align: center;
color: rgba(251, 251, 251, 0.7);
}
.button-title{
border-radius: 15px;
padding: 16px 40px;
width: 179px;
height: 52px;
  background-color: #1b414b;
font-weight: 500;
font-size: 18px;
line-height: 1.1;
letter-spacing: -0.02em;
color: #fbfbfb;
}
.button-title:hover,
.button-title:focus{
  font-weight: 500;
font-size: 18px;
line-height: 1.1;
letter-spacing: -0.02em;
color: #1b414b;
background: #fbfbfb;
}
/* #endregion title */

/* #region adventure */
.adventure{
  border-radius: 24px;
width: 1340px;
  background-color: #fbfbfb;
margin: 0 auto;

}


.adventure-title{
 display: flex;
 justify-content: space-between;
top: 0;
left: 0;
  }

.adventure-title-name{
  width: 537px;
font-weight: 500;
font-size: 48px;
line-height: 1;
letter-spacing: -0.02em;
color: #1b414b;

margin-right: 295px;
}
.adventure-title-hero{
margin-top: 50px;

  width: 404px;
  font-weight: 400;
font-size: 23px;
line-height: 1;
letter-spacing: -0.02em;
color: #1b414b;
 margin-bottom: 20px;
 
}
.adventure-text{

  width: 404px;
font-weight: 400;
font-size: 13px;
line-height: 1.15;
letter-spacing: -0.02em;
color: #040306;
opacity: 0.4;
margin-bottom: 100px;
}
.images-advent{
border-radius: 0 24px 0 0;
width: 1340px;
}
/* #endregion adventure */
/* #region choose yacht */

.title-choose{
  flex-direction: column;
  margin-top: 150px;
  margin-bottom: 75px;
  margin-left: 363px;

  width: 714px;
  font-weight: 500;
font-size: 48px;
line-height: 1;
letter-spacing: -0.02em;
text-align: center;
color: #fbfbfb;
}


.choose-list{
 display: flex;
 justify-content: center;
 gap: 32px;
}
.choose-item{
 padding: 16px;
 background-color: #fff;
 border-radius: 24px;
 
}

.images-choose{
  padding-bottom: 32px;
}
.name-container{
  display: flex;
}
.name-yacht{
margin-right: 162px;
  font-weight: 500;
font-size: 16px;
line-height: 1.2;
letter-spacing: -0.04em;
text-transform: uppercase;
color: #1b414b;

}
.name-yacht-benetti{
  
 font-weight: 500;
font-size: 16px;
line-height: 1.2;
letter-spacing: -0.04em;
text-transform: uppercase;
color: #1b414b;
}
.name-yacht-text{
  font-weight: 400;
font-size: 13px;
line-height: 1.18;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #040306;
opacity: 0.4;
}
.icons-choose{
stroke-width: 1px;
stroke: rgba(4, 3, 6, 0.1);
}
.characteristics-container{
    
}
.characteristics-list{
  padding-top: 16px;
}

.characteristics-item{
  display: flex;
}


.characteristics-bulder{
  padding-right: 172px;
  padding-bottom: 6px;
  font-weight: 400;
font-size: 14px;
line-height: 1.18;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #040306;
opacity: 0.4;
}
.characteristics-length{
  padding-right: 175px;
  padding-bottom: 6px;
  font-weight: 400;
font-size: 14px;
line-height: 1.18;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #040306;
opacity: 0.4;
}
.characteristics-shipyard{
   padding-right: 160px;
  padding-bottom: 6px;
  font-weight: 400;
font-size: 14px;
line-height: 1.18;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #040306;
opacity: 0.4;
}
.characteristics-built{
  padding-right: 193px;
  padding-bottom: 6px;
  font-weight: 400;
font-size: 14px;
line-height: 1.18;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #040306;
opacity: 0.4;
}
.characteristics-guests{
  padding-right: 175px;
  padding-bottom: 6px;
  font-weight: 400;
font-size: 14px;
line-height: 1.18;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #040306;
opacity: 0.4;
}

.characteristics-price{
  padding-right: 192px;
  padding-bottom: 6px;
  font-weight: 400;
font-size: 14px;
line-height: 1.18;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #040306;
opacity: 0.4; 
}
.characteristics-text{

  font-weight: 400;
font-size: 14px;
line-height: 1.18;
letter-spacing: 0.03em;
color: #040306;
}

.choose-button{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.button-choose{
  background-color: transparent;
  border: 1px solid rgba(251, 251, 251, 0.35);
border-radius: 15px;
padding: 16px 40px;
width: 179px;
height: 52px;
font-family: "Inter", sans-serif;
font-weight: 500;
font-size: 18px;
line-height: 1.1;
letter-spacing: -0.02em;
color: #fbfbfb;

}
.button-choose:hover,
.button-choose:focus{
  background-color: #fbfbfb;
font-weight: 500;
font-size: 18px;
line-height: 1.1;
letter-spacing: -0.02em;
color: #1b414b;
}

/* #endregion choose yacht */


.pharacteristic{
  gap: 32px;
}
.yacht-pharacteristic-list {
  border-radius: 24px;
  width: 768px;
  background-color: #1b414b;
  padding: 90px 59px;
height: 424px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 48px;
}

.ph-item {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.ph-number {
 font-weight: 500;
font-size: 32px;
line-height: 1;
letter-spacing: -0.05em;
color: #fbfbfb;
  margin-bottom: 12px;
}

.ph-line {
  border-radius: 18px;
width: 318px;
height: 2px;
  background-color: rgba(251, 251, 251, 0.1);

}

.ph-text {
  padding-top: 18px;
  font-weight: 400;
font-size: 13px;
line-height: 1.15;
letter-spacing: -0.02em;
color: #fbfbfb;
  opacity: 0.8;
}












.yachtcabin-img{
  border-radius: 24px;
width: 540px;
height: 424px;
margin-left: 32px;
}



/* #region rest */

.thesternof-img{
  margin-top: 150px;
  border-radius: 24px;
  margin-right: 50px;
}
.thesternof-tite{
  margin-top: 150px;
  margin-bottom: 50px;
  font-weight: 500;
font-size: 48px;
line-height: 1;
letter-spacing: -0.02em;
color: #fbfbfb;
}
.form-yacht{
width: 472px;
}
.label-form{
  display: block;
  margin-bottom: 18px;
}

.input-form{
border: 1px solid rgba(251, 251, 251, 0.2);
border-radius: 12px;
padding: 18px;
width: 100%;
height: 54px;
background-color: transparent;
}
.textarea-form{
resize: none;
border: 1px solid rgba(251, 251, 251, 0.2);
border-radius: 12px;
padding: 18px;
width: 100%;
height: 116px;
background-color: transparent;
overflow: hidden;
}

.textarea-label{
display: block;
margin-bottom: 50px;
}
.button-form{
  border-radius: 15px;
padding: 18px 75px;
width: 194px;
height: 56px;
background-color: #1b414b;
font-weight: 500;
font-size: 18px;
line-height: 1.1;
letter-spacing: -0.02em;
color: #fbfbfb;
}

.button-form:hover,
.button-form:focus{
  background-color: #fbfbfb;
border-radius: 15px;
padding: 18px 75px;
width: 194px;
height: 56px;
font-weight: 500;
font-size: 18px;
line-height: 1.1;
letter-spacing: -0.02em;
color: #1b414b;
}

/* #endregion rest */
.region-team{
margin-top: 150px;
text-align: center;
}
.team-title{
  display: block;
  
}
.region-team-title{
 
  font-weight: 500;
font-size: 48px;
line-height: 1;
letter-spacing: -0.02em;
text-align: center;
color: #fbfbfb;
max-width: 854px;

  margin: 0 auto;

}

.region-team-text{
  padding-top: 25px;
  font-weight: 400;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.02em;
text-align: center;
color: #fbfbfb;
opacity: 0.4;

max-width: 600px;
margin: 0 auto 75px auto; 

}


.region-team-list{
  display: flex;
 gap: 32px;

}
.region-team-item{
background-color: #fbfbfb;
border-radius: 24px;
padding: 32px 36px;
width: 392px;
height: 282px;
margin-bottom: 150px;

}

.team-photo{
padding-left: 132px;
padding-bottom: 24px;
}

.region-team-name-cont{
  width: 320px;
}
.region-team-name{
  font-weight: 500;
font-size: 18px;
line-height: 1.1;
letter-spacing: -0.02em;
text-align: center;
color: #040306;
padding-bottom: 8px;
}

.region-team-p{
  font-weight: 400;
font-size: 16px;
line-height: 1.4;
letter-spacing: -0.02em;
text-align: center;
color: rgba(4, 3, 6, 0.4);

}








/* #region footer */
.footer-page {
  margin: 0 auto;
  width: 100%;
  max-width: 1390px;
  border-radius: 24px 24px 0 0;
  background-color: #1b414b;
  padding: 50px 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-nav{
  display: flex;
  gap: 409px;
  align-items: center;
}

.logo-footer {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #fbfbfb;
  text-transform: lowercase;
  text-decoration: none;
}

.nav-list-footer {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.footer-nav-list-item {
}
.footer-nav-list-link {
  background: rgba(251, 251, 251, 0.3);
  border-radius: 8px;
  padding: 15px 25px;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #fbfbfb;
  text-decoration: none;
  transition: background 0.3s ease;
}
.footer-nav-list-link:hover {
  background: rgba(251, 251, 251, 0.5);
}
.footer-social-list {
  display: flex;
  gap: 10px;
  margin-left: 388px;
}
.footer-social-list-item {
  width: 24px;
  height: 24px;
}

.footer-social-link {
  fill: #fbfbfb;
  transition: fill 0.3s ease;
}
.footer-social-link:hover {
  fill: rgba(251, 251, 251, 0.6);
}
.information {
  margin-top: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
  
  
  
.footer-info {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  max-width: 699px;
  margin: 0 auto;
}

.information-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: rgba(251, 251, 251, 0.4);
  margin: 0;
  display: flex;
}
.information-footer .information-footer {
  margin-left: 30px; 
}
.footer-bottom {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 30px; 
}
/* #endregion footer */